<div class="flex flex-wrap gap-4 justify-end mr-10 mb-4">
    <p-button 
        label="NUEVA RECETA" 
        icon="pi pi-plus"
        styleClass="p-button-success" 
        (click)="addPrescription()">
    </p-button>
</div>

<div class="card">
    <p-table [value]="prescriptions" stripedRows [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>ID Cita</th>
                <th>ID Medicamento</th>
                <th>Dosis</th>
                <th>Duración</th>
                <th>Instrucciones</th>
                <th>Acciones</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-pres>
            <tr>
                <td>{{pres.id}}</td>
                <td>{{pres.appointmentId}}</td>
                <td>{{pres.medicineId}}</td>
                <td>{{pres.dosage}}</td>
                <td>{{pres.duration}}</td>
                <td>{{pres.instructions}}</td>
                <td>
                    <p-button
                        icon="pi pi-pencil"
                        styleClass="p-button-warning p-button-sm"
                        [routerLink]="['/prescriptions/update', pres.id]">
                    </p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
