<div class="flex flex-wrap gap-4 justify-end mr-10 mb-4">
    <p-button 
        label="NUEVO MEDICAMENTO" 
        icon="pi pi-plus"
        styleClass="p-button-success" 
        (click)="addMedicine()">
    </p-button>
</div>

<div class="card">
    <p-table [value]="medicines" stripedRows [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Stock</th>
                <th>Precio</th>
                <th>Estatus</th>
                <th>Acciones</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-medicine>
            <tr>
                <td>{{medicine.id}}</td>
                <td>{{medicine.name}}</td>
                <td>{{medicine.description}}</td>
                <td>{{medicine.stock}}</td>
                <td>{{medicine.price | currency:'COP':'symbol':'1.0-0'}}</td>
                <td>
                    <p-tag [value]="medicine.status" [severity]="medicine.status === 'activo' ? 'success' : 'danger'"></p-tag>
                </td>
                <td>
                    <p-button
                        icon="pi pi-pencil"
                        styleClass="p-button-warning p-button-sm"
                        [routerLink]="['/medicines/update', medicine.id]">
                    </p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
